img{
	width: 100%;
}

.dash-upper{
	margin-top: 2%;
	margin-bottom: 2%;
}

.post{
	background-color: lightgrey;
	margin-top: 2%;
	box-shadow: 0px 2px 12px -2px;
	padding: 20px;
	border-radius: 5px;
}

.post i{
	font-size: 30px;
}